@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

/* BODY */

body{
background:#c4d6b5;
color:#343a3f;
}


/* HEADER */

.header{

position:fixed;
top:0;
width:100%;
padding:20px 10px;

background:#6f7f6b;

z-index:100;

}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  position: absolute;
  right: 20px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  font-size: 18px;
  color: #343a3f;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover,
.nav-links a.active {
  color: white;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}


/* STRUCTURE PAGE */

.page{

display:flex;
justify-content:center;

padding-top:140px;
padding-bottom:100px;

}


/* COLONNE CENTRALE */

.center-column{

background:#263a37;

width:900px;
max-width:90%;

padding:60px;

border-radius:20px;

display:flex;
flex-direction:column;
align-items:center;

gap:40px;

color:white;

box-shadow:0 15px 40px rgba(0,0,0,0.25);

}


/* TITRE */

.center-column h2{

font-size:36px;

}


/* CONTACT */

.contact-info{

display:flex;
flex-direction:column;
gap:25px;

width:100%;

}


/* CARTE CONTACT */

.contact-item{

background:white;

color:#343a3f;

padding:20px;

border-radius:12px;

text-align:center;

box-shadow:0 4px 20px rgba(0,0,0,0.15);

transition:0.3s;

}

.contact-item:hover{

transform:translateY(-5px);

}


/* TITRE CONTACT */

.contact-item h3{

font-size:22px;
margin-bottom:5px;

}


/* TEXTE */

.contact-item p{

font-size:16px;

}


/* LIENS */

.contact-item a{

text-decoration:none;
font-weight:600;

color:#6f7f6b;

}

.contact-item a:hover{

color:#263a37;

}


/* RESPONSIVE */

@media(max-width:768px){

  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #6f7f6b;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px 0;
    text-align: center;
  }

  .nav-links a {
    padding: 10px 0;
    font-size: 16px;
  }

  .nav-links.active {
    display: flex;
  }

  .center-column{
    padding:40px 20px;
  }

  .center-column h2{
    font-size:28px;
  }

}